@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: red;

    margin-bottom: 70px;
}

header {
    font-weight: bold;
    margin-bottom: 10px;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

header h1 a {
    text-decoration: none;
    color: black;
}

header h1 a:hover {
    color: rgb(119, 0, 255);
}

header hr {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    background-color: rgb(119, 0, 255);
    color: white;
    text-align: center;

    padding-top: 15px;

    /* CÓDIGO COPIADO PRA CENTRALIZAR O FOOTER */
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 35px;
    position: fixed;
    width: 100%;
}

.conteiner-conteudo {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.conteudo {
    margin-left: 5%;
    margin-right: 5%;

    margin-bottom: 15px;
}

.conteudo h2 {
    margin-bottom: 5px;
}

.conteudo h3 {
    margin-bottom: 5px;
}

.conteudo p {
    margin-bottom: 15px;

    text-align: justify;
}

.saiba-mais {
    margin-top: 15px;
}

.saiba-mais a {
    text-decoration: none;
    font-weight: bold;
}

.saiba-mais a:hover {
    color: red;
}

.lista-desordenada .item {
    list-style: disc;
    margin-left: 2%;
}